<div class="body">
  <div class="container">
    <nz-alert
      *ngIf="error"
      nzShowIcon
      nzType="error"
      [nzMessage]="error"
      [ngStyle]="{ 'margin-bottom': '16px' }"
    ></nz-alert>
    <div class="item-container">
      <h2 class="log-in">Log in</h2>
    </div>
    <div class="item-container">
      <a routerLink="/">
        <img
          src="../../../../assets/logo.png"
          alt="logo"
          width="70px"
          height="auto"
        />
      </a>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="form-input">
        <label for="email" class="label">Email</label>
        <input
          nz-input
          type="email"
          name="email"
          placeholder="Enter email address"
          [(ngModel)]="email"
        />
      </div>
      <div class="form-input">
        <label for="password" class="label">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
          [(ngModel)]="password"
        />
      </div>
      <div class="display-space-between">
        <div>
          <input type="checkbox" checked />
          <label for="password" class="chekbox-label">Remember Me</label>
        </div>
        <div>
          <a href="#">Forget password</a>
        </div>
      </div>
      <div>
        <button type="submit" [disabled]="!canSubmit()">Log in</button>
      </div>
    </form>
    <div class="create-new">
      <a routerLink="/register">Don't have account? <span>Create new</span></a>
    </div>
  </div>
</div>
