.product-container {
  padding-bottom: 60px;
  &__image {
    margin-bottom: 24px;
    text-align: center;
    img {
      border-radius: 20px;
    }
  }
  &__details {
    margin: 0 auto;
    max-width: 1024px;
    padding: 16px;
    .title {
      font-size: 1.5rem;
      line-height: 1.25;
      margin-bottom: 6px;
    }
    .reviews {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      .rating {
        margin-right: 12px;
        > i {
          margin-right: 2px;
          font-size: 1rem;
          color: #aaa;
          cursor: pointer;
          &:nth-child(n + 1):nth-child(-n + 4) {
            color: #f9d71c;
          }
        }
      }
      .review-link {
        color: #525252;
        font-size: 0.75rem;
      }
    }
    .price-container {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      .price {
        font-size: 1.75rem;
        margin-right: 12px;
      }
      .availability {
        font-size: 1rem;
        text-transform: uppercase;
      }
    }
    .description {
      margin-bottom: 20px;
    }
    .cta {
      .add-to-cart {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        > span {
          margin-right: 4px;
        }
        > button {
          height: 46px;
          margin-left: 12px;
          border-radius: 50px;
        }
      }
      .category {
        text-transform: uppercase;
        margin-bottom: 16px;
        > span {
          margin-right: 6px;
        }
      }
      .social-links {
        text-transform: uppercase;
        > span {
          margin-right: 6px;
        }
        > i {
          font-size: 1rem;
          margin: 0 8px;
          cursor: pointer;
          transition: color 0.2s;
          &:hover {
            color: #1890ff;
          }
        }
      }
    }
  }
}

a {
  margin-left: 20px;
  position: relative;
  background: #0690fd;
  color: #fff;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  transition: 0.5s;
  overflow: hidden;
  box-shadow: 0 20px 25px #0690fd44;
}
a:hover {
  width: 200px;
  transition-delay: 0.5s;
}
a::before {
  content: "";
  position: absolute;
  right: 20px;
  width: 12px;
  height: 12px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
  transition: 0.5s;
}
a:hover::before {
  transform: rotate(45deg) translate(50px, -50px);
}
a::after {
  content: "";
  position: absolute;
  left: -50px;
  width: 12px;
  height: 12px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg) translate(-50px, 50px);
  transition: 0.5s;
}
a:hover::after {
  transform: rotate(45deg) translate(50px, -50px);
  transition-delay: 1s;
}
a span {
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  transition: 0.5s;
  transform: translateX(-30px);
}
a:hover span {
  visibility: visible;
  opacity: 1;
  transform: translateX(10px);
  transition-delay: 0.75s;
}

// @media screen and (min-width: 1200px) {
//   .product-container {
//     padding-bottom: 60px;
//     &__image {
//       margin-bottom: 24px;
//       text-align: center;
//     }
//     &__details {
//     }
//   }
// }
