<footer>
  <div class="footer-content">
    <h3>TIN HỌC MẶT TRĂNG</h3>
    <h4>Chuyên cung cấp thiết bị điện tử giá tốt</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, quasi.
      Tenetur temporibus quis aliquid possimus! Quasi ipsa magnam ipsam eaque?
    </p>
    <ul class="socials">
      <li>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-google-plus"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-linkedin-square"></i></a>
      </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy; <a href="#">Ky An Kiet</a></p>
    <div class="footer-menu">
      <ul class="f-menu">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Blog</a></li>
      </ul>
    </div>
  </div>
</footer>
