<div class="slider">
  <div class="slider__container">
    <!-- <carousel
      [objectFit]="'cover'"
      [cellWidth]="'100%'"
      [height]="500"
      [autoplay]="true"
      [autoplayInterval]="4000"
      [dots]="true"
      [loop]="true"
    >
      <div class="carousel-cell slider__item">
        <img src="../../../assets/slider/slider1.png" />
      </div>
      <div class="carousel-cell slider__item">
        <img src="../../../assets/slider/slider2.png" />
      </div>
      <div class="carousel-cell slider__item">
        <img src="../../../assets/slider/slider3.png" />
      </div>
      <div class="carousel-cell slider__item">
        <img src="../../../assets/slider/slider4.png" />
      </div>
      <div class="carousel-cell slider__item">
        <img src="../../../assets/slider/slider5.png" />
      </div>
    </carousel> -->
    <swiper
      [zoom]="false"
      [slidesPerView]="1"
      [spaceBetween]="50"
      [pagination]="true"
      [autoplay]="true"
      [loop]="true"
    >
      <ng-template swiperSlide>
        <div class="carousel-cell slider__item">
          <img src="../../../assets/slider/slider1.png" />
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="carousel-cell slider__item">
          <img src="../../../assets/slider/slider2.png" />
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="carousel-cell slider__item">
          <img src="../../../assets/slider/slider3.png" />
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="carousel-cell slider__item">
          <img src="../../../assets/slider/slider4.png" />
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="carousel-cell slider__item">
          <img src="../../../assets/slider/slider5.png" />
        </div>
      </ng-template>
    </swiper>
  </div>
</div>
